<html>
    <body>
        <h1> Cadastro de Usuário</h1>
        <form action="/login/executar" method="POST">
            <label>Nome:</label>
            <input name="Nome" type="text"/><br/>
            <label>Senha:</label>
            <input name="senha" type="password"/><br/>
            <input type="submit" value="entrar"/>
        </form>
        <% if(mensagemLogin) { %>
            <p>
                <label style= "color:Red"><%mensagemLogin %></label>
            </p>

        <%}%>

    </body>
</html>